{% load static %}

<div class="flex flex-col md:flex-row items-center gap-4">
  <img src="{% static 'images/icon.png' %}" alt="logo" width="35px"/>
  
  <div class="text-center md:text-start">
    <h1 class="font-bold text-neutral-900">Estimasi Harga Mobil Bekas</h1>
    <p class="text-red text-xs font-bold">@2023</p>
  </div>
</div>

<div class="flex flex-col md:flex-row gap-10 md:gap-32 lg:gap-48 mt-12 text-center md:text-start">
  <div>
    <h1 class="font-bold text-lg">Informasi</h1>
    <ul class="text-neutral-700 text-sm flex flex-col gap-2 mt-4">
      <li><a class="hover:opacity-70 hover:text-red" href="/docs/#website-apa-ini">Website apa ini?</a></li>
      <li><a class="hover:opacity-70 hover:text-red" href="/docs/#cara-pakainya-gimana">Cara Pakainya Gimana?</a></li>
      <li><a class="hover:opacity-70 hover:text-red" href="/docs/#jarak-tempuh-mobil">Jarak Tempuh Mobil</a></li>
      <li><a class="hover:opacity-70 hover:text-red" href="/docs/#satuan-mpg">Satuan Mpg</a></li>
      <li><a class="hover:opacity-70 hover:text-red" href="/docs/#pajak-mobil">Pajak Mobil</a></li>
      <li><a class="hover:opacity-70 hover:text-red" href="/docs/#ukuran-mesin">Ukuran Mesin</a></li>
    </ul>
  </div>
  <div>
    <h1 class="font-bold text-lg">Halaman</h1>
    <ul class="text-neutral-700 text-sm flex flex-col gap-2 mt-4">
      <li><a class="hover:opacity-70 hover:text-red" href="/">Pengenalan Website</a></li>
      <li><a class="hover:opacity-70 hover:text-red" href="/estimate">Memperkirakan Harga Mobil Bekas</a></li>
      <li><a class="hover:opacity-70 hover:text-red" href="/docs">Baca Panduan</a></li>
      <li><a class="hover:opacity-70 hover:text-red" href="https://github.com/0xricoard/Django-App" target="_blank">Source Code</a></li>
    </ul>
  </div>
  <div>
    <h1 class="font-bold text-lg">Tim Pengembang</h1>
    <ul class="text-neutral-700 text-sm flex flex-col gap-2 mt-4">
      <li><a class="hover:opacity-70 hover:text-red" href="https://github.com/naufal-yafi" target="_blank">Naufal Yafi</a></li>
      <li><a class="hover:opacity-70 hover:text-red" href="https://github.com/0xricoard" target="_blank">Rico Ardiansyah</a></li>
    </ul>
  </div>
</div>