<article id="jarak-tempuh-mobil">
  <h1 class="guide-h1">Jarak Tempuh Mobil</h1>
  <p class="guide-p">Semakin jauh jarak tempuhnya, semakin lama mobil tersebut digunakan, dan semakin besar depresiasi nilai yang telah dialami.</p>

  <ul class="guide-ul">
    <li>
      <h2 class="guide-h2">Risiko Masalah Mekanis</h2>
      <p class="guide-p">Mobil yang telah digunakan untuk jarak tempuh yang tinggi memiliki risiko lebih besar mengalami masalah mekanis. Komponen-komponen seperti mesin, transmisi, suspensi, dan lainnya dapat mengalami keausan lebih cepat dengan penggunaan yang intens. Karena itu, pembeli cenderung ingin membayar lebih rendah untuk mobil yang telah menempuh jarak yang panjang karena risiko potensial masalah mekanis.</p>
    </li>
    <li>
      <h2 class="guide-h2">Pemakaian dan Penggunaan</h2>
      <p class="guide-p">Mobil dengan jarak tempuh yang tinggi mungkin telah digunakan dalam kondisi yang lebih keras dan intensif dibandingkan dengan mobil yang hanya digunakan dalam perjalanan sehari-hari. Ini dapat mengakibatkan lebih banyak tanda-tanda keausan dan keausan pada mobil tersebut.</p>
    </li>
    <li>
      <h2 class="guide-h2">Persepsi Nilai</h2>
      <p class="guide-p">Secara umum, mobil dengan jarak tempuh rendah cenderung memiliki persepsi nilai yang lebih tinggi dalam mata pembeli. Pembeli cenderung menganggap mobil dengan jarak tempuh rendah lebih "segar" dan kurang berisiko dibandingkan dengan mobil dengan jarak tempuh tinggi.</p>
    </li>
  </ul>

  {% include 'partials/guide/button.html' %}
</article>