<article id="jenis-bahan-bakar">
  <h1 class="guide-h1">Jenis Bahan Bakar</h1>

  <ul class="guide-ul">
    <li>
      <h2 class="guide-h2">Efisiensi Bahan Bakar</h2>
      <p class="guide-p">Mobil dengan efisiensi bahan bakar yang lebih baik cenderung lebih diminati dan memiliki harga jual yang lebih tinggi. Misalnya, mobil hibrida atau listrik yang memiliki konsumsi bahan bakar rendah atau bahkan tidak menggunakan bahan bakar fosil sama sekali dapat menjadi pilihan yang menarik bagi pembeli yang mencari mobil hemat bahan bakar.</p>
    </li>
    <li>
      <h2 class="guide-h2">Biaya Operasional</h2>
      <p class="guide-p">Biaya operasional adalah faktor penting dalam menentukan harga mobil bekas. Mobil dengan bahan bakar yang lebih murah atau lebih efisien cenderung memiliki biaya operasional yang lebih rendah, yang dapat menjadi pertimbangan penting bagi pembeli.</p>
    </li>
    <li>
      <h2 class="guide-h2">Regulasi Lingkungan</h2>
      <p class="guide-p">Beberapa wilayah menerapkan regulasi ketat terkait emisi gas buang. Mobil dengan mesin diesel yang lebih tua atau bahan bakar fosil lainnya mungkin terkena pajak atau sanksi lebih tinggi karena emisi yang lebih tinggi. Sebaliknya, mobil listrik atau hibrida mungkin mendapatkan insentif pajak atau keuntungan lainnya yang dapat memengaruhi harga jual.</p>
    </li>
    <li>
      <h2 class="guide-h2">Ketersediaan dan Model</h2>
      <p class="guide-p">Ketersediaan mobil dengan jenis bahan bakar tertentu dan modelnya juga dapat memengaruhi harga. Model-model yang lebih langka atau eksklusif dengan jenis bahan bakar tertentu mungkin memiliki harga jual yang lebih tinggi.</p>
    </li>
  </ul>

  {% include 'partials/guide/button.html' %}
</article>