<article id="pajak-mobil">
  <h1 class="guide-h1">Pajak Mobil</h1>
  <p class="guide-p">Pajak mobil adalah biaya yang harus dibayarkan oleh pemilik mobil kepada pemerintah setiap tahun atau pada saat pembelian mobil baru.</p>

  <ul class="guide-ul">
    <li>
      <h2 class="guide-h2">Biaya Awal</h2>
      <p class="guide-p">Pajak yang harus dibayar saat pembelian mobil baru dapat mempengaruhi harga mobil bekas. Mobil yang memiliki pajak pembelian yang lebih tinggi cenderung memiliki harga jual yang lebih rendah ketika dijual sebagai mobil bekas. Sebaliknya, mobil yang memiliki pajak pembelian yang lebih rendah mungkin memiliki harga jual yang lebih tinggi.</p>
    </li>
    <li>
      <h2 class="guide-h2">Biaya Tahunan</h2>
      <p class="guide-p">Pajak tahunan atau bulanan yang harus dibayar oleh pemilik mobil juga dapat mempengaruhi harga jual mobil bekas. Pajak yang lebih tinggi setiap tahun dapat membuat mobil tersebut lebih mahal dalam jangka panjang, dan ini dapat memengaruhi harga jualnya.</p>
    </li>
    <li>
      <h2 class="guide-h2">Regulasi Lokal</h2>
      <p class="guide-p">Pajak mobil dapat bervariasi berdasarkan regulasi dan kebijakan pemerintah lokal. Beberapa daerah mungkin memberlakukan pajak yang lebih tinggi daripada yang lain, yang dapat mempengaruhi harga mobil bekas di wilayah tersebut.</p>
    </li>
    <li>
      <h2 class="guide-h2">Intensif Pemerintah</h2>
      <p class="guide-p">Di beberapa negara atau daerah, pemerintah mungkin memberikan insentif pajak atau keringanan fiskal untuk mobil dengan tingkat emisi rendah atau kendaraan ramah lingkungan lainnya. Ini dapat memengaruhi harga jual mobil bekas dengan teknologi efisiensi energi yang tinggi.</p>
    </li>
    <li>
      <h2 class="guide-h2">Usia Kendaraan</h2>
      <p class="guide-p">Pajak mobil biasanya lebih tinggi untuk mobil yang lebih tua daripada untuk mobil baru. Ini dapat mempengaruhi harga jual mobil bekas yang lebih tua, karena pembeli harus mempertimbangkan biaya pajak tahunan yang lebih tinggi.</p>
    </li>
  </ul>

  {% include 'partials/guide/button.html' %}
</article>