<article id="satuan-mpg">
  <h1 class="guide-h1">Satuan MPG</h1>
  <p class="guide-p">MPG adalah ukuran seberapa jauh mobil dapat pergi dengan satu galon bahan bakar.</p>

  <ul class="guide-ul">
    <li>
      <h2 class="guide-h2">Biaya Operasional</h2>
      <p class="guide-p">Mobil yang lebih efisien dalam hal MPG cenderung lebih murah untuk dioperasikan karena pemiliknya akan menghabiskan lebih sedikit uang untuk bahan bakar. Ini adalah faktor yang penting bagi banyak pembeli, terutama mereka yang ingin menghemat uang dalam jangka panjang.</p>
    </li>
    <li>
      <h2 class="guide-h2">Nilai Jual yang Lebih Tinggi</h2>
      <p class="guide-p">Mobil dengan MPG yang baik biasanya memiliki nilai jual yang lebih tinggi di pasar mobil bekas. Hal ini disebabkan oleh permintaan yang lebih tinggi untuk kendaraan yang lebih efisien secara bahan bakar, terutama saat harga bahan bakar sedang tinggi.</p>
    </li>
    <li>
      <h2 class="guide-h2">Konservasi Lingkungan</h2>
      <p class="guide-p">Semakin banyak konsumen yang peduli dengan lingkungan mencari mobil yang lebih efisien dalam hal bahan bakar. Ini dapat membuat mobil dengan MPG tinggi lebih diminati, terutama di negara-negara atau wilayah-wilayah yang menerapkan regulasi ketat terkait emisi gas rumah kaca dan polusi udara.</p>
    </li>
  </ul>

  {% include 'partials/guide/button.html' %}
</article>