<article id="transmisi">
  <h1 class="guide-h1">Transmisi</h1>
  <p class="guide-p">Transmisi pada mobil adalah sistem yang memungkinkan perubahan torsi dan kecepatan roda yang dihubungkan dengan mesin. Transmisi memainkan peran penting dalam mengatur bagaimana daya yang dihasilkan oleh mesin mobil disalurkan ke roda dan seberapa cepat atau lambat kendaraan bergerak. Fungsi utama dari transmisi adalah untuk mengubah rasio gigi (gear ratio) antara mesin dan roda, sehingga mobil dapat berjalan efisien dalam berbagai kecepatan dan situasi.</p>

  <ul class="guide-ul">
    <li>
      <h2 class="guide-h2">Jenis Transmisi</h2>
      <p class="guide-p">Mobil dengan transmisi otomatis cenderung memiliki harga jual yang lebih tinggi dibandingkan dengan mobil dengan transmisi manual. Hal ini karena banyak pembeli yang lebih suka kenyamanan dan kemudahan penggunaan transmisi otomatis.</p>
    </li>
    <li>
      <h2 class="guide-h2">Usia dan Kondisi</h2>
      <p class="guide-p">Transmisi manual biasanya memerlukan lebih banyak perawatan dan pemeliharaan dibandingkan dengan transmisi otomatis. Oleh karena itu, mobil dengan transmisi manual yang sudah tua atau dalam kondisi buruk mungkin memiliki harga yang lebih rendah karena pembeli mungkin khawatir tentang biaya pemeliharaan yang lebih tinggi.</p>
    </li>
    <li>
      <h2 class="guide-h2">Biaya Kepemilikan</h2>
      <p class="guide-p">Transmisi otomatis seringkali lebih tahan lama daripada transmisi manual dan memerlukan perawatan yang lebih sedikit. Karena itu, dalam jangka panjang, biaya kepemilikan mobil dengan transmisi otomatis mungkin lebih rendah, yang dapat memengaruhi harga jual mobil tersebut.</p>
    </li>
    <li>
      <h2 class="guide-h2">Tujuan Pengguna</h2>
      <p class="guide-p">Jenis transmisi yang diinginkan juga dapat bervariasi berdasarkan tujuan penggunaan mobil. Misalnya, mobil dengan transmisi otomatis mungkin lebih disukai untuk penggunaan sehari-hari dan perjalanan jarak jauh, sementara mobil dengan transmisi manual mungkin lebih disukai oleh pecinta otomotif atau pengemudi yang ingin pengalaman mengemudi yang lebih aktif.</p>
    </li>
  </ul>

  {% include 'partials/guide/button.html' %}
</article>