<article id="ukuran-mesin">
  <h1 class="guide-h1">Ukuran Mesin</h1>
  <p class="guide-p">Kapasitas mesin mengacu pada volume ruang bakar dalam mesin mobil dan diukur dalam liter (L) atau cubic centimeters (cc).</p>

  <ul class="guide-ul">
    <li>
      <h2 class="guide-h2">Peforma</h2>
      <p class="guide-p">Mobil dengan mesin yang lebih besar dan lebih kuat cenderung memiliki performa yang lebih baik, termasuk akselerasi yang lebih cepat dan daya jelajah yang lebih besar. Mobil dengan mesin yang lebih besar seringkali memiliki harga jual yang lebih tinggi karena performa yang lebih baik ini dapat menarik bagi pembeli yang mencari mobil yang lebih bertenaga.</p>
    </li>
    <li>
      <h2 class="guide-h2">Efisiensi Bahan Bakar</h2>
      <p class="guide-p">Mobil dengan mesin yang lebih besar seringkali memiliki konsumsi bahan bakar yang lebih tinggi. Hal ini dapat membuat mobil tersebut lebih mahal untuk dioperasikan dalam hal biaya bahan bakar. Oleh karena itu, pembeli yang mencari kendaraan hemat bahan bakar mungkin lebih suka mobil dengan mesin yang lebih kecil dan lebih efisien.</p>
    </li>
    <li>
      <h2 class="guide-h2">Biaya Asuransi</h2>
      <p class="guide-p">Beberapa perusahaan asuransi mungkin mengenakan premi asuransi yang lebih tinggi untuk mobil dengan mesin yang lebih besar karena risiko potensial yang lebih tinggi dalam hal kecepatan dan performa. Ini juga dapat mempengaruhi biaya total kepemilikan mobil.</p>
    </li>
    <li>
      <h2 class="guide-h2">Regulasi Emisi</h2>
      <p class="guide-p">Beberapa negara atau daerah memiliki regulasi ketat terkait emisi gas buang. Mobil dengan mesin yang lebih besar mungkin memiliki emisi yang lebih tinggi dan mungkin dikenai pajak atau sanksi yang lebih tinggi, yang dapat mempengaruhi harga jual.</p>
    </li>
  </ul>

  {% include 'partials/guide/button.html' %}
</article>