<article id="website-apa-ini">
  <h1 class="guide-h1">Website Apa Ini?</h1>
  <p class="guide-p ps-2">Website ini digunakan untuk memperkirakan harga mobil bekas dari spesifikasi mobil yang telah disebutkan.</p>
  <p class="guide-p ps-2">Website ini dibuat dari bahasa <a href="https://www.python.org/" target="_blank" class="link-href">Python</a> dengan pemanfaatan <a href="https://www.djangoproject.com/" target="_blank" class="link-href">Django</a> untuk bisa dijalankan di website atau browser, juga menggunakan framework css yaitu <a href="https://django-tailwind.readthedocs.io/" target="_blank" class="link-href">Django-Tailwind</a>.</p>

  {% include 'partials/guide/button.html' %}
</article>